/** Wireframe**/

body {
    background-color: aliceblue;
    font-family: "Open Sans Condensed", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.ipad-dimensions {
    width: 768px;
    height: 1024px;
    background-color:red;
    
    position: relative;
    
    left:20%;
    
}

.title-container{
    width:159px;
    height:100px;
    
    position: absolute;
    left: 40%;
    top:112px;
    
    background-color: lightgray;
}

.photo{
    width:512px;
    height:248px;
    
    position:absolute;
    left:128px;
    top:229px;
    
    background-color: maroon;
}

.arrow-button{
    width:86px;
    height: 77px;
    
    position: absolute;
    left:667px;
    top:470px;
    
    background-color: aquamarine;
}

.history-of-salsa{
    position: absolute;
    left:128px;
    top:541px;
    
    width:512px;
    height:275px;
    
    background-color: aquamarine;
}

.button-one{
    width:96px;
    height:43px;
    
    position:absolute;
    top:932px;
    left:128px;
    
    background-color: yellow;
}

.button-two{
    width:96px;
    height:43px;
    
    position:absolute;
    top:932px;
    left:268px;
    
    background-color: yellow;
}

.button-three{
    width:96px;
    height:43px;
    
    position:absolute;
    top:932px;
    left:408px;
    
    background-color: yellow;
}

.button-four{
    width:96px;
    height:43px;
    
    position:absolute;
    top:932px;
    left:548px;
    
    background-color: yellow;
}
