body{
    background-color: beige;
    
    font-family: "Roboto";
    
    width:auto;
    height: auto;
    
    color:black;
}

/***********************************************************************************************************    HEADER HERE     ***********************/

.header{
    background-color: #DCF5E1;
    
    width:100%;
/*
    
    margin-top:0em;
    margin-bottom: 1.5em;
*/
    
    display:flex;
    flex-direction: row;
}

.header img {
    width:5.75em;
    height:7.25em;
    
    margin-top: 1.5em;
    
    border-radius: 30%;
}

.name{
    margin-top:0;
    margin-bottom:0;
    font-weight: bold;
    color: #1E7131;
}

.header h6 {
    padding-left: 1em;
    
    font-size: 1em;
    font-weight: lighter;

}

/******************************************************************************************************         MAIN CONTENT     **********************/

hr.myClass{
    margin-top:1.5em;
    margin-bottom:1.5em;
    
    border-top: .0625em solid #1E7131;
}

.category{
    font-weight:bold;
    font-size:1em;
    color: #1E7131;
}

.job-title{
    margin-top:1.5em;
    margin-bottom: 0em;
    font-weight:bold;
}

.description{
    margin-top:0em;
    font-size: 1em;
    font-weight: lighter;
}

/************************************************************************************************       MEDIA QUERIES    ******************************/

@media only screen and (min-width:500px) and (max-width:959px) {
    
    body{
        background-color: #FAEFFF;
    }

    .header{
        background-color: #FAEFFF;
        display: flex;
        flex-direction: column;
    }
    
    .header img{
        margin: 0 auto;
        border-radius:0;
    }
    
    .name{
        padding-top:1em;
        color:#5656D1;
    }
    
    .header h6{
        margin: 0 auto;
    }
    
    .category{
        color:#5656D1;
    }
    
    .top{
        display: flex;
        flex-direction: row;
    }
}

