/** Wireframe**/

body {
    background-color: aliceblue;
    font-family: "Open Sans Condensed", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.ipad-dimensions {
    width: 768px;
    height: 1024px;
    background-color:red;
    
    position: relative;
    
    left:15%;
    
}

.title-container{
    width:237px;
    height:100px;     
    
    position: absolute;
    left:280px;
    top:50px;
    
    font-family:'Great Vibes', 'cursive';
    font-size:27px;
    
    background-color: lightgray;
}

.all-steps{
    width:636px;
    height:266px;
    
    position: relative;
    left:65px;
    top:140px;
    
    background-color: yellow;
}

.rotate-lleft{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    
    position:absolute;
    top:-40px;
    left:185px;
}

.rotate-lright{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    
    position:absolute;
    top:20px;
    left:185px;
}

.rotate-fleft{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    
    position:absolute;
    top:20px;
    left:375px;
}

.rotate-fright{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    
    position:absolute;
    top:-40px;
    left:375px;
}

.leader-button{
    width:128px;
    height:48px;
    
    position: absolute;
    left:192px;
    top:418px;
    
    background-color: hotpink;
}

.follower-button{
    width:128px;
    height:48px;
    
    position: absolute;
    left:456px;
    top:418px;
    
    background-color: skyblue;
}

.arrow-button-right{
    width:86px;
    height: 77px;
    
    position: absolute;
    left:667px;
    top:470px;
    
    background-color: aquamarine;
}

.arrow-button-left{
    width:86px;
    height: 77px;
    
    position: absolute;
    left:32px;
    top:470px;
    
    background-color: aquamarine;
}

.follower-instructions{
    width:187px;
    height:215px;
    
    position:absolute;
    left:160px;
    top:558px;
    
    background-color: hotpink;
}

.leader-instructions{
    width:187px;
    height:215px;
    
    position:absolute;
    left:432px;
    top:558px;
    
    background-color: skyblue;
}


.buttons{

    
}

#previous-step{
    width: 149px;
    height:54px;
    
    position: absolute;
    left:161px;
    top:840px;
    
    background-color: aqua;
}

#player{
    width:93px;
    height:54px;
    
    position: absolute;
    left:333px;
    top:840px;
    
    background-color: aqua;
    
}

#next-step{
    width:149px;
    height:54px;
    position: absolute;
    left:449px;
    top:840px;
    
    background-color: aqua;
}


.button-one{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    
    position: absolute;
    top:959px;
    left:73px;

}

.button-two{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    
    position: absolute;
    top:959px;
    left:236.25px;

}

.button-three{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    
    position: absolute;
    top:959px;
    left:389.5px;

}

.button-four{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    
    position: absolute;
    top:959px;
    left:575px;

}

/*https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_eff_queue_all

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_form_steps


*/
