/** Wireframe**/

body {
    background-color: aliceblue;
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.ipad-dimensions {
    width: 768px;
    height: 1024px;
    background-color:red;
    
    position: relative;
    
    left:20%;
    
}

.title-container{
    width:209px;
    height:72px;
    
    position: absolute;
    left:280px;
    top:29px;
    
    background-color: lightgray;
}


.music-container{
    width:468px;
    height: 686px;
    margin-left:150px;
    margin-right:150px;
    margin-top: 300px;
    
    position:absolute;
    top:-169px;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    background-color: chartreuse;
}

#music-button{
    height:175px;
    width:175px;
    
    background-color:yellow;
}

.invisible{
    visibility: hidden;
}

.button-one{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    
    position: absolute;
    top:959px;
    left:73px;

}

.button-two{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    
    position: absolute;
    top:959px;
    left:236.25px;

}

.button-three{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    
    position: absolute;
    top:959px;
    left:389.5px;

}

.button-four{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    
    position: absolute;
    top:959px;
    left:575px;

}

