/** Wireframe**/

body {
    background-color: aliceblue;
    font-family: "Open Sans Condensed", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.ipad-dimensions {
    width: 768px;
    height: 1024px;
    background-color:#EDDCDC;
    
    margin: 0 auto;
    
}

.title-container{
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-family:'Great Vibes', 'cursive';
    font-size:27px;
}

.all-steps{
    width:636px;
    height:266px;
    
    position: relative;
    left:65px;
    top:-25px;
}

.rotate-lleft{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    
    position:absolute;
    top:-40px;
    left:185px;
}

.rotate-lright{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    
    position:absolute;
    top:20px;
    left:185px;
}

.rotate-fleft{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    
    position:absolute;
    top:20px;
    left:375px;
}

.rotate-fright{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    
    position:absolute;
    top:-40px;
    left:375px;
}

.leader-button{
    width:232px;
    height:54px;
    
    position: absolute;
    left:250px;
    top:418px;
    
    font-family: "Merriweather";
    font-size:18px;
    color:white;
    
    background-color: black;
    
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.follower-button{
    width:232px;
    height:54px;
    
    position: absolute;
    left:550px;
    top:418px;
    
    font-family: "Merriweather";
    font-size:18px;
    color:#FFFFFF;
    
    background-color: #AD1616;
    
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-right*/

.arrow-button-right{
    width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-left: 25px solid #555;
	border-bottom: 12.5px solid transparent;;
    
    position: absolute;
    left:857px;
    top:470px;
    
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-left*/

.arrow-button-left{
   	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-right: 25px solid #555;
	border-bottom: 12.5px solid transparent;
    
    position: absolute;
    left:150px;
    top:470px;
    
}

.leader-instructions{
    width:187px;
    height:215px;
    
    position:absolute;
    left:250px;
    top:558px;
    
        
    font-family: "Merriweather";
    font-size:18px;
    color:#FFFFFF;
    
    background-color: black;
    
  display: flex;
  justify-content: center;
    text-align: center;
  flex-direction: column;
}

.follower-instructions{
    width:187px;
    height:215px;
    
        
    font-family: "Merriweather";
    font-size:18px;
    color:#FFFFFF;
    
    position:absolute;
    left:550px;
    top:558px;
    
      display: flex;
  justify-content: center;
  flex-direction: column;
     text-align:center;
    background-color: #AD1616;
}


.buttons{

    
}

#previous-step{
    width: 149px;
    height:54px;
    
    position: absolute;
    left:300px;
    top:840px;
    
    font-family: "Merriweather";
    font-size: 18px;
    color:white;
    
    background-color: #555555;
    
      display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#player{
    width:93px;
    height:54px;
    
    position: absolute;
    left:475px;
    top:840px;
    
    font-family: "Merriweather";
    font-size: 18px;
    color:white;
    
    background-color: #555555;
    
      display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#next-step{
    width:149px;
    height:54px;
    position: absolute;
    left:600px;
    top:840px;
    
    font-family: "Merriweather";
    font-size: 18px;
    color:white;
    
    background-color: #555555;
    
      display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


.page-nav{
    display: flex;
    justify-content: space-around;
    padding-top:75px;
    margin-top:200px;
}

.page-nav a{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    color:#901313;
    
    
}

/*https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_eff_queue_all

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_form_steps


*/
