body {
    background-color: #EDDCDC;
    font-family: "Merriweather";
    color: #901313;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.ipad-dimensions {
    width: 768px;
    height: 1024px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.title-container{
    font-family: "Great Vibes";
    font-size: 57px;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom: 10px;
}

/*Home Page*/
.photo-creds{
    margin-top:0px;
    text-align: right;
    
}

.history-of-salsa-title{
    font-weight: bold;
    font-style: italic;
    text-align:left;
    /*https://stackoverflow.com/questions/38205797/how-to-combine-bold-and-italic-in-css#38205861*/
    padding-top:25px;
    margin-left:81px;
}

.history-of-salsa-paragraph{
    width:550px;
    
    text-align: left;
    
    font-size:16px;
    margin-left:81px;
}

.history-of-salsa-paragraph a {
    color:#4F5A65;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-left: 25px solid #555;
	border-bottom: 12.5px solid transparent;
    
    position:absolute;
    right:75px;
    top:775px;
}


/*Songs*/

.instructions{
    font-size: 18px;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom:50px;
    
}

.music-container{
    width:468px;
    height: 686px;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-right*/


.music-title{
    position: absolute;
    top:0px;

    font-size: 17px;
    
}

.artist{
    position: absolute;
    top:50px;
    
    font-size: 16px;

}

.controls{
    
    display:flex;
    justify-content: space-around;
    
    width:175px;
    height:175px;
    
    background-color: #C9BBBB;
    
    visibility:hidden;
    
    position: absolute;
}

#showme-one, #showme-two{
    top:0px;
}



#showme-three, #showme-four{
    top:229px;
}



#showme-five, #showme-six{
    top:457px; 
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-right*/
.triangle-right {
	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-left: 25px solid #555;
	border-bottom: 12.5px solid transparent;
    
    position: relative;
    top:125px;

    
    border-left-color: #901313;

}

.pause{
    position:relative;
    top:125px;
}

.stop{
    width:25px;
    height:25px;
    background-color: grey;
    
    position: relative;
    top:125px;
    
    background-color: #901313;
}

.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-left*/

.arrow-button-left{
   	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-right: 25px solid #555;
	border-bottom: 12.5px solid transparent;
    
    position: absolute;
    left:-100px;
    top:470px;
    
}

.arrow-button-right{
    width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-left: 25px solid #555;
	border-bottom: 12.5px solid transparent;;
    
    position: absolute;
    left:857px;
    top:470px;
    
}

.page-nav{
    display: flex;
    justify-content: space-around;
    
    font-family: 'Great Vibes';
    font-size: 27px;
    color:#901313;
    
    padding-top:10px;
}

/** Steps **/


.all-steps{
    width:636px;
    height:266px;
    
    position: relative;
    left:65px;
    top:-25px;
}

.rotate-lleft, .rotate-lright{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    
    position: absolute;
    left:185px;
}

.rotate-fleft, .rotate-fright{
    /*https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html*/
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    
    position:absolute;
    left:375px;
}

.rotate-lleft{
    top:-40px;
}

.rotate-lright{
    top:20px;
}

.rotate-fleft{
    top:20px;
}

.rotate-fright{
    top:-40px;
}

.graphic-credits{
    position: absolute;
    bottom:0px;
    left:175px;
}

.button-container{
    display:flex;
    justify-content:space-around;
    
    padding-bottom: 50px;
    
    margin: 0 auto;
    
    width:600px;
}

.buttons{
    background-color: #555555;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    

    width: 149px;
    height:54px;
    
    color:white;
    
    /*https://www.w3schools.com/css/tryit.asp?filename=trycss3_border-radius*/
    
    /*https://stackoverflow.com/questions/42080123/controlling-the-amount-of-space-in-justify-content-space-between*/
    
    border-radius:15px;
    
    
}

.step-headers{
    display: flex;
    justify-content:space-around;
    color:white;
    
}

.leader-button,.follower-button{
    
    width:232px;
    height:54px;
    
    font-size:18px;
    
    background-color: black;
    
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.follower-button{
    
    background-color: #AD1616;

}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-right*/

.instructions{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    color:white;
}
.leader-instructions,.follower-instructions{
    width:232px;
    height:300px;
    

    font-size:18px;
    
    border-radius:15px;
    background-color: black;
    
  display: flex;
  justify-content: center;
    text-align: center;
  flex-direction: column;
}

.follower-instructions{
    
  background-color: #AD1616;
}


/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-left*/


/*https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_eff_queue_all

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_form_steps


*/


