/** Wireframe**/

body {
    background-color: #EDDCDC;
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.ipad-dimensions {
    width: 768px;
    height: 1024px;
    background-color:#EDDCDC;
    
    margin: 0 auto;
    
}

.title-container{
    font-family: "Great Vibes";
    font-size: 57px;
    color:#901313;
    text-align: center;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom: 75px;
}


.music-container{
    width:468px;
    height: 686px;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    margin-left:auto;
    margin-right:auto;
}

.music-button{
    height:175px;
    width:175px;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-right*/

.controls{
    display: flex;
    justify-content:space-around;
    
    position: absolute;
    top:93px;
    
    width:175px;
    height:175px;
    
    background-color: #C9BBBB;
    
    visibility: hidden;
}

.music-title{
    position: absolute;
    top:0px;
    
    font-family: "Merriweather";
    font-size: 17px;
    color:#901313;
    
    text-align: center;
}

.artist{
    position: absolute;
    top:50px;
    
    font-family: "Merriweather";
    font-size: 16px;
    color:#901313;
    
    text-align: center;
}

.controls-two{
    display: flex;
    justify-content: space-around;
    

    position: absolute;
    top:200px;

    
    width:175px;
    height:175px;
    
    background-color: #C9BBBB;
    
    visibility: hidden;
}

.controls-three{
    display: flex;
    justify-content: space-around;
    
    position: absolute;
    top:320px;
    
    width:175px;
    height:175px;
    
    background-color: #C9BBBB;
    
    visibility: hidden;
}

.controls-four{
    display: flex;
    justify-content: space-around;
    
    width:175px;
    height:175px;
    
    position: absolute;
    top:320px;
    
    background-color: #C9BBBB;
    
    visibility: hidden;
}

.controls-five{
    display: flex;
    justify-content: space-around;
    
    position: absolute;
    top:550px;
    
    width:175px;
    height:175px;
    
    background-color: #C9BBBB;
    
    visibility: hidden;
}

.controls-six{
    display: flex;
    justify-content: space-around;
    
    position: absolute;
    top:550px;
    
    width:175px;
    height:175px;
    
    background-color: #C9BBBB;
    
    visibility: hidden;
}


/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-right*/
.triangle-right {
	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-left: 25px solid #555;
	border-bottom: 12.5px solid transparent;
    
    position: relative;
    top:125px;
    
    border-left-color: #901313;

}

.pause{
    position:relative;
    top:125px;
}

.stop{
    width:25px;
    height:25px;
    background-color: grey;
    
    position: relative;
    top:125px;
    
    background-color: #901313;
}

.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-left*/

.arrow-button-left{
   	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-right: 25px solid #555;
	border-bottom: 12.5px solid transparent;
    
    position: absolute;
    left:200px;
    top:470px;
    
}

.page-nav{
    display: flex;
    justify-content: space-around;
    
    padding-top:50px;
}

.page-nav a{
    
    font-family: 'Great Vibes', 'cursive';
    font-size: 27px;
    color:#901313;
    
    
}

