/** Wireframe**/

body {
    background-color: chocolate;
    font-family: "Open Sans Condensed", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}



.header {
    height:60px;
    background-color: aquamarine;
    
}



.headline-container{    
    width:408px;
    height:43px;

    position:relative;
    left:190.5px;
    
    background-color: blue;
}

.headline-separator{
    width:606px;
    height:38px;
    
    position:relative;
    left:80px;
    
    background-color: black;
}

.ipad-dimensions {
    width: 768px;
    height: 1024px;
    background-color:#FFFFF2;
    
    position: absolute;
    
    left:25%;
    
}


.top-grid-box {
    margin-left: auto;
    margin-right:auto;
    
    width:597px;
    height:552px;
    
    background-color: aqua;
    
    display:flex;
    justify-content: center;
}


/*Letter button*/

.letter-container{
    width:391px;
    height:552px;
    background-color:magenta;
    
    position:relative;
    right:-42px;
}

.paragraph-container { 
    width:131px;
    height:552px;
    
    position:relative;
    top:-3%;
    left:-42px;
    
    background-color: yellow;
}

.spacer{
    width:606px;
    height:41px;
    
    background-color: black;
    
    position:relative;
    left:81px;
}

.footer-container{
    margin-left: auto;
    margin-right:auto;
    
    width:606px;
    height:228px;
    
    display:flex;
    justify-content: center;
    
    background-color: palevioletred;
    
}

.bio-container{
    width:104px;
    height:157px;
    
    position: relative;
    top:58px;
    left:-143px;
    
    background-color: darkorange;
}

.sources-container{
    width:212px;
    height:157px;
    
    position: relative;
    top:58px;
    right:-100px;
    
    background-color: darkmagenta;
}

.footer {
    height:60px;
    background-color: aquamarine;
    
}

/* Fonts **/

.acumin-light {
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.acumin-bold {   
    font-family:acumin-pro-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-size: 24px;
}

