/** Wireframe**/

body {
    background-color: chocolate;
    font-family: "Open Sans Condensed", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.header {
    height:60px;
    background-color: aquamarine;
    
}


.headline-container{
    margin-left: 125px;
    margin-right:auto;
    width:408px;
    height:43px;
    background-color: blue;
}

.ipad-dimensions {
    width: 768px;
    height: 1024px;
    background-color:#FFFFF2;
    
    position: relative;
    
    left:25%;
    
}

.top-grid-box {
    margin-left: auto;
    margin-right:auto;
    
    width:606px;
    height:545px;
    
    background-color: aqua;
    
    display:flex;
    justify-content: center;
}


/*Letter button*/

.letter-container{
    width:391px;
    height:545px;
    background-color:magenta;
}

.paragraph-container {
    width:131px;
    height:552px;
    
    background-color: yellow;
}


.footer-container{
    margin-left: auto;
    margin-right:auto;
    
    width:606px;
    height:228px;
    
    display:flex;
    justify-content: center;
    
    background-color: palevioletred;
    
}

.bio-container{
    width:104px;
    height:157px;
    background-color: darkorange;
}

.sources-container{
    width:212px;
    height:157px;
    background-color: darkmagenta;
}

/* Fonts **/

.acumin-light {
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.acumin-bold {   
    font-family:acumin-pro-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-size: 24px;
}

