/** Wireframe**/

body {
    background-color:aliceblue;
    font-family: "Open Sans Condensed", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}



.header {
    height:60px;
    background-color: aquamarine;
    
}



.headline-container{    
    width:408px;
    height:43px;

    position:relative;
    top:0px;
    left:100px;
    
    /*background-color: blue;*/
}

.headline-separator{
    width:606px;
    height:38px;
    
    position:relative;
    left:80px;
    
    /*background-color: greenyellow;*/
}

.ipad-dimensions {
    width: 768px;
    height: 1024px;
    background-color:#FFFFF2;
    
    /**Source: W3Schools**/
    border: 2px solid #D1C45E;
    
    /**Source: W3Schools**/
    box-shadow: 1px 1px 0 #D1C45E;
              
    
    position: relative;
    
    left:25%;
    
}

.content{
    
    margin-top:50px;
    margin-bottom: 73px;
    
    margin-left:90px;
    margin-right: 83px;
    
}


.top-grid-box {
    /*margin-left: auto;
    margin-right:auto;*/
    
    width:597px;
    height:552px;
    
    /*background-color: aqua;*/
    
    display:flex;
    justify-content: center;
}


/*Letter button*/

.letter-container{
    width:391px;
    height:540px;
    /*background-color:magenta;*/
    
    /**Source: w3schools**/
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    
    position:relative;
    right:-37px;
}

.letter-container h1{
    font-size:400px;
    color:#CBC283;
    
    text-shadow: -1px 1px 0 #DCE081;
    
    height:292px;
    width:92px;
    
    margin:0;
    padding: 0;
    
    position:relative;
    top:-15%;
    left:210px;

}

.letter-container h2{
    font-size:45px;
    text-align: center;
    
    width:400px;
    height:150px;
    
    position: relative;
    top:350px;
    left:-45px;
    
    color:#FFFFF2;
    
    
    
    /**
    
    Source: Geeks for Geeks
    
    **/
    
    text-shadow: -1px 1px 0 #AD9429, 
                  1px -1px 0 #AD9429, 
                  -1px 1px 0 #AD9429,
                  1px -1px 0 #AD9429;
         
    align-content: center;
}

.letter-container img{
    position:relative;
    z-index:99;
    top: -210px;
    left: 217px;
    visibility: hidden;
}

.letter-container img.visible {
    visibility: visible;
    
}

.paragraph-container { 
    width:109px;
    height:552px;
    
    /**Source: w3schools **/
    font-size: 17px;
    word-spacing: 5px;
    
    position:relative;
    top:-3%;
    left:-42px;
    
    /**background-color: yellow;**/
}

.spacer{
    width:606px;
    height:41px;
    
    /*background-color: greenyellow;*/
    
    position:relative;
    left:-5px;
}

#button{
    width:102px;
    height:23px;
    
    background-color:white;
    
    /**Source: w3schools**/
    border: 1px solid black;
    
    /**Source: w3schools**/
    box-shadow: 1px 1px 0 black;
    
    position: relative;
    top:0px;
    right:-487px;
    
    /**Source: w3schools**/
    
    font-weight:bold;
    font-size: 14px;
    color: #AD9429;
    text-align: center;
    
}

/*Source: w3schools*/

hr { 
    display: block;

    position: relative;
    top:8px;
    left:0px;
      
    width:585px;
    border-style: inset;
    border-width: 1px;
}

.footer-container{
    margin-left: auto;
    margin-right:auto;
    
    width:606px;
    height:228px;
    
    display:flex;
    justify-content: center;
    
    /*background-color: aquamarine;*/
    
    
}

.bio-container{
    width:104px;
    height:157px;
    
    position: relative;
    top:58px;
    left:-135px;
    
    
}

.bio-container h6{
    text-align: center;
    
    position: absolute;
    top:50%;
    left: 25%;
}

/*Source: Geeks for Geeks*/
.vertical { 
            border-left: 1px solid black; 
            height: 189px; 
            position:relative; 
            top:25px;
            left: -50px; 
        }

.sources-container{
    width:212px;
    height:157px;
    
    position: relative;
    top:35px;
    right:-50px;
    
    
}

.footer {
    height:60px;
    background-color: aquamarine;
    
}

/* Fonts **/

.acumin-light {
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.acumin-bold {   
    font-family:acumin-pro-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-size: 24px;
}

/**

Works Cited:


Katiyar, Pranchal. “How to Make a Vertical Line Using HTML ?” GeeksforGeeks, 19 Feb. 2019, www.geeksforgeeks.org/how-to-make-a-vertical-line-using-html/.

riarawal99. “CSS: Font Border.” GeeksforGeeks, 4 Apr. 2019, www.geeksforgeeks.org/css-font-border/.

w3schools. “CSS Border Property.” CSS Border Property, www.w3schools.com/cssref/pr_border.asp.

w3schools. “CSS Box-Shadow Property.” CSS Box-Shadow Property, www.w3schools.com/cssref/css3_pr_box-shadow.asp.

w3schools. “CSS Font-Weight Property.” CSS Font-Weight Property, www.w3schools.com/cssref/pr_font_weight.asp.

w3schools. “CSS Letter-Spacing Property.” CSS Letter-Spacing Property, www.w3schools.com/cssref/pr_text_letter-spacing.asp.
w3schools. “Hr Default Css.” Tryit Editor v3.6, 

www.w3schools.com/tags/tryit.asp?filename=tryhtml_hr_default_css.
w3schools. “w3schools Hr Default Css.” Tryit Editor v3.6, 

www.w3schools.com/tags/tryit.asp?filename=tryhtml_hr_default_css.


**/